body{width: 100%;}
.settings {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}
.blue-frame {
  background-color: aquamarine;
  width: calc(100%-4%);
  color: blue;
  text-align: 20px bold;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  padding: 10px;
}
.blue-frame :first-child {
  padding-left: 7%; padding-right: 20%;
}
.blue-frame :nth-child(2) {padding-right: 30%;}
.photo {display: flex;flex-direction: column;align-items: center; width: 300px;margin-right: 20px;}
.button-photo {height: 40px;width: 256px; background-color: gray;}
.column {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.row{width: 50%;}
.margin24 {
  padding-top: 24px;
}
