.nav-padding {
  padding-left: 30px;
  padding-right: 30px;
}

body { width: 1000px; 
  height: 100%;
}
main {overflow: scroll;
  height: 100%;
  width: 85%;
  margin-left: 15%;
  top: 80px;
  position: fixed;
  padding-right: 30px;
  
}

.aside {
  width: 175px;
  border: none;
}
.row-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 30%;
  height: 320px;
  -webkit-box-shadow: 0px 12px 24px 18px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 12px 24px 18px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 12px 24px 18px rgba(34, 60, 80, 0.25);
}
.button-edit {
  width: 220px;
  height: 40px;
  border-color: #679ed2;
  background-color: #679ed2;
  color: white;
  margin-bottom: 20px;
}


.one-row {padding: 5px 5px 5px 5px;height: 50px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.find {display: flex; width: 350px; margin-right: 10px;
justify-content: space-between; align-items: flex-start}

.d6 button {
  background: #0D47A1;
  border: none;
  height: 42px;
  width: 42px;
  border-radius: 50% 50%;
   cursor: pointer;

}
.d6 button:before {
  content: url("search.svg");
 border-style: none;

  color: #FFFFFF
  ;
}
form {display: flex; 
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.cut-img {height: 160px; overflow: hidden;}
.cut-img::after{background: rgba(0,0,0,.2);
  position: absolute;
  color: white;
  padding-left: 20px;
  padding-top: 18px;
    top: 170px;
    font-size: 18px;
    font-weight: bold;
    right: 305px;
  content: "HTML & CSS workshop";
width: 768px;
height: 60px;}

.cut-img img {margin-top: -107px;}
.text {width: 780px; padding: 10px}
.one-block{width: 768px;margin: 10px;
height: 330px;
-webkit-box-shadow: 0px 12px 24px 18px rgba(34, 60, 80, 0.25);
-moz-box-shadow: 0px 12px 24px 18px rgba(34, 60, 80, 0.25);
box-shadow: 0px 12px 24px 18px rgba(34, 60, 80, 0.25);}
.gray-text{display: flex; color:gray; font-size: 12px; height: 20px; margin-top: -30px;}
.gray-text div{padding-right: 10px; display: flex;}

.cut-img2::after{background: rgba(0,0,0,.2);
  position: absolute;
  color: white;
  padding-left: 20px;
  padding-top: 18px;
    top: 465px;
    font-size: 18px;
    font-weight: bold;
    right: 305px;
  content: "Diana's birthday";
width: 768px;
height: 60px;}

.cut-img3::after{background: rgba(0,0,0,.2);
  position: absolute;
  color: white;
  padding-left: 20px;
  padding-top: 18px;
    top: 740px;
    font-size: 18px;
    font-weight: bold;
    right: 305px;
  content: "Halloween Party";
width: 768px;
height: 60px;}
.cut-img2 {height: 160px; overflow: hidden;}
.cut-img3 {height: 160px; overflow: hidden;}
.cut-img2 img {margin-top: -107px;}
.cut-img3 img {margin-top: -107px;}
.two-block{width: 768px;margin: 10px;overflow: visible;
  height: 280px;
  -webkit-box-shadow: 0px 12px 24px 18px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 12px 24px 18px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 12px 24px 18px rgba(34, 60, 80, 0.25);}
  .gray-text{display: flex; color:gray; font-size: 12px; height: 20px;margin: 5px;}
  .gray-text div{padding-right: 10px; display: flex;}