.header-img {
  margin-left: 72%;
}
.colors {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.homework {
  width: 68%;
  padding-left: 40%;
}
.circle {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 30%;
  margin-right: 2%;
}

.circle-column {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  justify-content: flex-end;
}
.card-text {height: 80px; word-wrap: break-word}
.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 3px;
}
.java {
  width: 80%;
  padding-left: 40px;
  display: flex;
}
.card-group {
  margin-left: 40px;
  margin-bottom: 10px;
}
.card-group div {
  margin-right: 20px;
 
}
.card {height: 200px;width: 440px;}
.mask {display: flex;flex-wrap: nowrap;}
.mask-wrapper {
    height: 37px;
    margin-left: 20px;
    
    margin-bottom: 20px;
 }
 .mask-wrapper .send-file{
    padding: 3px 20px;
    margin-left: 3px;
    color: #fff;
    background-color: #ccc;
 }
 .mask-wrapper .fileInputText {
    position: relative;
    width: 133px;
    top: 3px;
 }
 .custom-file-input {
    width: 252px;
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    top: -27px;
    left: -16px;
    z-index: 99999;
    cursor: pointer;
 }


 .example-2 .btn-tertiary{
    color: white;
    padding:0;
    line-height:40px;
    width:200px;
    margin-left: 20px;
    display:block;
    border:2px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
    }
    .pink{background-color:#FF7373}
    
    .example-2 .input-file{display: flex; flex-wrap: nowrap;
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1;
    }
  
.fileInputText {margin-top: -4px; height: 35px;}
.form-group {display: flex; flex-wrap: nowrap;}
.img-style img {width: 64px; height: 64px; color: white}
.bg-green{background-color: rgb(16, 102, 16); margin-left:70%;}
.bg-green-two{background-color: rgb(16, 102, 16); margin-left:60%;}
