.text1 {text-align:center;
color: blue;}
.text2 {text-align:left;
    color: 	#6D87D6;}
.text3 {    display: table;
    white-space: pre-line; 
    word-wrap: break-word;  
  }
  .text4 {font-style:italic}