* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI";
  width: 100%;
}
.large-word {
  font-weight: bold;
  font-size: 20px;
}

.padding-word {
  padding: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.gray-text {
  color: gray;
}
.small-info {
  display: flex;
  width: 22%;
  height: 200px;
  flex-wrap: nowrap;
}
.main-object {
  display: flex;
}
.frames {
  display: flex;
}
main {
  padding-left: 220px;
}
.nav-bar {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  list-style-type: none;
}
.nav-bar li {
  padding: 10px;
}
