*/ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block,
.block-two {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 80px;
  align-items: center;
  margin-bottom: 10px;
  background-color: aqua;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.block-two {
  border-bottom-left-radius: 15px;
}
.block {
  border-bottom-right-radius: 15px;
}

.block:before {
  position: relative;
  align-items: center;
  content: url(avatar2.png);
  content: "Anie Smith";
  margin-left: 100px;
}
