*/ {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
}
.main {
    width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 
}
.main p {margin-right: 350px;

}
figcaption {width: 334px;
   margin-top: -5px;
    background-color: #437dd4;
    text-align: right;
    padding: 6px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    color: white;
      }
  .cat {
    
      margin-top: 0;
    margin-right: calc(100%-300px);
      display: flex;      
     flex-direction: column;
     position: absolute;
     top: 0;
     right:0;
     }
img {  border-top-left-radius:10px;
  border-top-right-radius: 10px;}


@media screen and (max-width: 600px) {
 
  .cat {
    position: relative;
    display: flex;
        flex-direction: column;
    margin-left:  5px;
    margin-right: 5px;
      }
      .main p {margin-right: 5px;

      }
      .main {min-width: 400px}
}
@media screen and (min-width: 600px) and (max-width:800px) {
  

  .cat {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: initial;
      justify-content: space-between;
          margin-left:  5px;
          margin-right: 5px;
        }
        .main p {margin-right: 5px;
         }
         .main {min-width: 725px;}
        }