* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  display: grid;

  gap: 15px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header Header Header"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main"
    ". main main main main"
    ". main main main main"
    ". main main main main"
    ". main main main main"
    ". main main main main";
}

.aside {
  padding-left: 30px;
  width: 300px;
  grid-area: aside;
  font-size: 30px;
  list-style-type: none;
}

.aside li {
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
}

.header {
  width: 100%;
  font-size: 45px;
  grid-area: Header;
  height: 140px;
}
.header div {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  height: 140px;
  justify-content: space-between;
}

.main {
  width: 100%;
  grid-area: main;
}

html,
body,
.container {
  margin: 0;
}

/* For presentation only, no need to copy the code below */

.container * {
  border: 1px solid red;
  position: relative;
}

.main tr td:nth-child(2n + 1) {
  vertical-align: text-top;
  text-align: right;
  width: 40px;
}
.main tr td:nth-child(2n + 3) {
  text-align: center;
  width: 50px;
}
.main tr td:nth-child(2n + 4) {
  text-align: center;
  width: 80px;
  font-size: 20px;
}
.star td {
  display: flex;
}
@media (min-width: 550px) and (max-width: 800px) {
} ;
