.col-30 input {
  width: 90%;
  height: 30px;
  border-radius: 5px;
}
.col-30 {width: 30%;
    border: none;
    text-align: start;
    outline: 0;
    outline-offset: 0;
    padding-left: 5px;
    
}
.col-75 {
  width: 100%;
  display: flex;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 30px;
}
h3 {
  margin-left: 30px;
}
.col-30-valid {
  border: 2px solid green;
  border-radius: 5px;
  width: 30%;
  height: 30px;
  margin-right: 20px;
}
.col-30-valid::after {
  content: url(valid.png);
  position: absolute;
  top: 62px;
  left: 60%;
}

.col-30-valid input,
.col-30-nonvalid input {
  border: none;
  text-align: start;
  margin-top: 7px;
  outline: 0;
  outline-offset: 0;
  padding-left: 5px;
  margin-right: 10px;
}
.col-30-valid input::-moz-placeholder {
  color: green;
}
.col-30-valid input::-webkit-input-placeholder {
  color: green;
}
.col-30-nonvalid input::-moz-placeholder {
  color: red;
}
.col-30-nonvalid input::-webkit-input-placeholder {
  color: red;
}
.col-30-nonvalid {
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  width: 30%;
  height: 30px;
}
.col-30-nonvalid::after {
  content: url(invalid.png);
  position: absolute;
  top: 62px;
  left: 93%;
}
.checkbox-green input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox__text {
  display: flex;
  position: relative;
  padding: 0 0 20px 80px;
  cursor: pointer;
}
.checkbox__text:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 60px;
  height: 26px;
  border-radius: 5px;
  background: white;
  border-color: green;
  transition: 0.2s;
  border: 1px solid green;
}
.checkbox__text:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 2px;
  width: 30px;
  height: 24px;
  border-radius: 5px;
  background: greenyellow;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.checkbox-green input:checked + .checkbox__text:before {
  background: white;
}
.checkbox-green input:checked + .checkbox__text:after {
  left: 26px;
}
.checkbox input:focus + .checkbox__text:before {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2),
    0 0 0 3px rgba(255, 255, 0, 0.7);
}
.check-box {
  display: flex;
}
.checkbox-red input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox__text-red {
  display: flex;
  position: relative;
  padding: 0 20px 20px 80px;
  cursor: pointer;
  margin-left: 20px;
}
.checkbox__text-red:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 60px;
  height: 26px;
  border-radius: 5px;
  background: white;
  border-color: red;
  transition: 0.2s;
  border: 1px solid red;
}
.checkbox__text-red:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 2px;
  width: 30px;
  height: 24px;
  border-radius: 5px;
  background: red;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.checkbox-red input:checked + .checkbox__text-red:before {
  background: white;
}
.checkbox-red input:checked + .checkbox__text-red:after {
  left: 30px;
}
.checkbox-red input:focus + .checkbox__text:before {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2),
    0 0 0 3px rgba(255, 255, 0, 0.7);
}
