* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #01939a;
  padding: 20px;
  padding-left: 40px;
}
.home {
  color: rgb(189, 189, 189);
  font-size: 16px;
  padding-bottom: 20px;
}
.text {
  font-size: 30px;
  margin-top: 2px;
  padding-bottom: 30px;
}
.flex-block {
  display: flex;
  flex-wrap: nowrap;
}
.left {
  content: url(account.png);
  background: repeat none;
  padding: 20px;
  width: 100px;
  height: 100px;
}

.center {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}
.center div {
  padding-bottom: 20px;
  margin-left: 2%;
  width: 100px;
}
.center div p:first-child {
  color: rgb(189, 189, 189);
}

@media screen and (max-width: 600px) {
  .main {
    min-width: 600px;
  }
  .center {
    display: flex;
    flex-wrap: wrap;
    order: 4 -1;
    width: 50%;
  }
  .center div:nth-of-type(1) {
    order: 2;
  }
  .center div:nth-of-type(2) {
    order: 3;
  }
  .center div:nth-of-type(3) {
    order: 4;
  }
  .center div:nth-of-type(4) {
    order: 1;
  }
  .left {
    content: url(account.png);
    background: repeat none;
    padding: 20px;
    width: 120px;
    height: 120px;
  }
  .home {
    font-size: 20px;
  }
}
