* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {height: 100%;}
body {height: 100%;
  background-color: turquoise;
}

.container {margin-left: 20px;
  display: grid; 
  grid-template-columns: 35% 35% 35% 35% 35%; 
  

  gap: 0px 20px; 
  grid-template-areas: 
    "header header header header header"
    "one two three four five"; 
    height: 100%;
}

.header {position: fixed;
  background-color: teal;
 top: 0;
 left: 0;
 width: 100%;
 padding: 20px;
  color: white;
  grid-area: header;
}
.one {margin-top: 107px;
  background-color: rgb(190, 187, 187);
  display: grid;
 margin-bottom: 20px;
  grid-template-rows: 5% 20% 20% 20%;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "one1"
    "one2"
    "one3"
    "one4";
  grid-area: one;
  font-size: 26px;
}

.one div:nth-child(n + 2) {
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  
 
}


.one-check {
 
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: nowrap;
 
}
.one1 {
  grid-area: one1;
  padding: 20px;
}

.one2 {padding: 10px;
  grid-area: one2;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.one3 {padding: 10px;
  grid-area: one3;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.one4 {padding: 10px;
  grid-area: one4;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.two {margin-top: 107px; margin-bottom: 20px;
  background-color: rgb(190, 187, 187);
 
  display: grid;
  grid-template-rows: 5% 20% 20% 20% 20% 20% 20%;
  gap: 20px 20px;
  
  overflow: scroll;
  grid-auto-flow: row;
  font-size: 26px;
  grid-template-areas:
    "two1"
    "two2"
    "two3"
    "two4"
    "two5"
    "two6"
    "two7";
  grid-area: two;
}

.two div:nth-child(n + 2) {
  background-color: white;
  margin-left: 5%;
margin-right: 5%;

}
.two1 {padding: 10px;
  grid-area: two1;
  padding: 20px;
 
}

.two2 {padding: 10px;
  grid-area: two2;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.two3 {padding: 10px;
  grid-area: two3;
}

.two4 {padding: 10px;
  grid-area: two4;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.two5 {padding: 10px;
  grid-area: two5;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.two6 {padding: 10px;
  grid-area: two6;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.two7 {padding: 10px;
  grid-area: two7;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;

}

.three { margin-top: 107px;
  background-color: rgb(190, 187, 187);
  display: grid;margin-bottom: 20px;


  grid-template-columns: 1fr;
  grid-template-rows: 5% 20% 20% 20%;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "three1"
    "three2"
    "three3"
    "three4";
  grid-area: three;
  font-size: 26px;
}
.three div:nth-child(n + 2) {
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
}
.three1 {padding: 10px;
  grid-area: three1;
  padding: 20px;
 
}

.three2 {padding: 10px;
  grid-area: three2;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.three3 {padding: 10px;
  grid-area: three3;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.three4 {padding: 10px;
  grid-area: three4;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.four {margin-top: 107px;
  margin-bottom: 20px;
  background-color: rgb(190, 187, 187);
  display: grid;
  padding: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 20% 20% 20%;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "four1"
    "four2"
    "four3"
    "four4";
  grid-area: four;
  font-size: 26px;
}
.four div:nth-child(n + 2) {
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
}
.four1 {padding: 10px;
  grid-area: four1;
  padding: 20px;
 
}

.four2 {padding: 10px;
  grid-area: four2;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.four3 {padding: 10px;
  grid-area: four3;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.four4 {padding: 10px;
  grid-area: four4;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.five {margin-top: 107px;
  margin-bottom: 20px;

  background-color: rgb(190, 187, 187);
  display: grid;
  

  grid-template-rows: 5% 20% 20% 20%;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "five1"
    "five2"
    "five3"
    "five4";
  grid-area: five;
  font-size: 26px;
}
.five div:nth-child(n + 2) {
  background-color: white;
  margin-left: 5%;
margin-right: 5%;

}
.five1 {padding: 10px;
  grid-area: five1;

}

.five2 {padding: 10px;
  grid-area: five2;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.five3 {padding: 10px;
  grid-area: five3;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.five4 {padding: 10px;
  grid-area: five4;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-around;
}

.check {

   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
}
